<!DOCTYPE html>
<html>
<head>
  <title>CoderPhoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <p>
      <% if signed_in? %>
        Hello <%= current_user.email %>.
        <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %> 
        | 
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </p>
    <%= yield %>
  </div>
</body>
</html>
